.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 42, 42,.8);

}
.content{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 background-color: azure;
 max-width: 600px;
 min-height: 300px;
 padding: 20px;
 border-radius: 4px;
}